.box{
    padding: 30px;
    background-color: rgb(255, 0, 170);
}
.titulo{
    color: rgb(46, 46, 46);
    font-size: 40px;
}

.fundo{
    background-color: rgb(36, 36, 36);
}

.cleiton{
    width: 10%;
}